<% page = { 'title' : 'animation', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css' : ['3.3.2/bootstrap.css', 'sample.styl'], 'js' : ['jquery-1.9.1.js', 'MenuBar.js']} %>


<div id="Area">
    <div class="animation">
        <h2>Animation</h2>
        I love doing animation and 3D modelling. Here's a few examples of my work.<br><br>
        Much of what I've done was designed using these programs:
        <div><img src="<%- img('blender.jpeg') %>"/> </div>
        <div><img src="<%- img('photoshop.jpeg') %>"/> </div>
        <div><img src="<%- img('images.png') %>"/> </div>
    </div>
    <hr><br>
    <div class="block"><img src="<%- img('0012.png') %>"/> </div>
    <div class="block"><img src="<%- img('Auriels_bow_render.png') %>"/> </div>
    <div class="block"><img src="<%- img('GamerSoul0001.jpg') %>"/> </div>
    <div class="block"><img src="<%- img('GateKeeper.png') %>"/> </div>
    <div class="block"><img src="<%- img('kiritosword4.png') %>"/> </div>
    <div class="block"><img src="<%- img('Ring-Render4.png') %>"/> </div>
    <div class="block"><img src="<%- img('sparksWOOT.png') %>"/> </div>
    <div class="block"><img src="<%- img('Violin2.png') %>"/> </div>
    <div class="block"><img src="<%- img('violin55.png') %>"/> </div>
</div>